{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <h1>Welcome to AgritechConnect!</h1>
            </div>
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.email.label_tag }} {{ form.email }}
                </div>
                <div class="input-group">
                    {{ form.password.label_tag }} {{ form.password }}
                </div>
                <center><button type="submit" class="btn btn-custom">Login</button></centre>
                <p class="signin-link">Have no account? <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
        <div class="image-container-login"></div>
    </div>
</body>

</html>
